<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<style>
		.el-row {
			margin-bottom: 20px;
		}

		.el-col {
			border-radius: 4px;
		}

		.currentItemGrid {
			display: grid;
			grid-template-columns: 7fr 1fr;
			grid-gap: 10px;
			text-align: center;
		}

		.twoColumns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 10px;
			text-align: center;
		}
	</style>

</head>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/client.js"></script>

<body>
	<template id="ui-template">
		<div>
			<section id="setup-staff" v-if="screenName ==='setup-staff'">
				<el-col :xs="24" :sm="24" :md="24" :lg="12">
					<el-table ref="singleTable" :data="staffData" highlight-current-row
						@current-change="handleCurrentChange" height="80vh" margin style="width: 60vw">
						<el-table-column type="index" label="Index" width="80">
						</el-table-column>

						<el-table-column property="FirstName" label="First Name" width="120">
						</el-table-column>
						<el-table-column property="LastName" label="Last Name" width="120">
						</el-table-column>
						<el-table-column property="StaffType" label="Staff Type">
						</el-table-column>
					</el-table>
				</el-col>
				<el-col style="margin-top: 20px">
					<el-button style="margin-top:20px" type="primary" @click="setUp()">Set Up Staff
					</el-button>
				</el-col>
			</section>

			</section>

			<section id="prepare-process" v-if="screenName ==='prepare-process'">
				<el-container>
					<el-header style="color:#013a72; font-size: 22pt">
						Preparing Process
					</el-header>
					<el-main style="margin-left: 150px;">
						<el-row>
							<el-col :xs="24" :sm="24" :md="24" :lg="12">
								Staff Name: {{mainData.currentInfo.staff.FirstName}}
								{{mainData.currentInfo.staff.LasttName}}

							</el-col>
							<el-col :xs="24" :sm="24" :md="24" :lg="12">
								Staff Type: {{mainData.currentInfo.staff.StaffType}}
							</el-col>

						</el-row>
						<p style="color:#013a72; font-size: 16pt">Current:</p>
						<el-row>
							<el-col :xs="24" :sm="24" :md="24" :lg="12" style="font-size: 16pt">
								<div v-if="mainData.currentInfo.currentItem!=null">
									{{mainData.currentInfo.currentItem.ItemName}}
								</div>
								<div v-else>
									<P>No current item found.</P>
								</div>
							</el-col>
							<el-col>
								<el-button type="primary" plain @click="finishProcess">Finish</el-button>
							</el-col>
						</el-row>

						<p style="color:#013a72; font-size: 20pt">Next:</p>
						<el-row>
							<el-col>
								<div v-if="mainData.currentInfo.nextItem!=null">
									{{mainData.currentInfo.nextItem.ItemName}}
								</div>
								<div v-else>
									No next item found.
								</div>
							</el-col>
							<el-col>
								<el-row>
									<p>Estimated Preparing Time (in Minnutes)</p>
									<el-input-number v-model="mainData.time" @change="handleChange" :min="0">
									</el-input-number>
								</el-row>
								<el-row>
									<el-button type="primary" plain @click="startProcess">Start</el-button>
								</el-row>
							</el-col>
						</el-row>
					</el-main>
				</el-container>
			</section>
		</div>
	</template>
</body>

<script>
	let mainData = {
		staffList: [],
		currentInfo: {},
		chosenBillDetailIds: [],
		time: 0
	}

	var uiData = {
		template: "#ui-template",
		data() {
			return {
				screenName: 'setup-staff',
				staffData: mainData.staffList,
				staffType: ['null', 'Cook', 'Bartender'],
				currentRow: null,
				mainData
			}
		},

		methods: {
			setUp: async function () {
				let result = await setUpStaff(this.currentRow.Id);
				mainData.currentInfo = await getCurrentStaffInfo();
				this.$alert('You are set up as ' + this.currentRow.FirstName + ' ' + this.currentRow.LastName, result, {
					confirmButtonText: 'OK'
				}).then(() => {
					this.screenName = "prepare-process";
				})
				console.log(mainData.currentInfo);
			},
			startProcess: async function () {
				let result = await startProcessing(mainData.time);
				mainData.currentInfo = await getCurrentStaffInfo();
				this.$alert(result, 'Start preparing'), {
					confirmButtonText: 'OK'
				}
				console.log("Success");
			},
			finishProcess: async function () {
				let result = await finishProcessing();
				mainData.currentInfo = await getCurrentStaffInfo();
				this.$alert(result, 'Finish preparing', {
					confirmButtonText: 'OK'
				})
				console.log("Success");
			},
			handleCurrentChange(val) {
				this.currentRow = val;
				console.log(this.currentRow);
			},
			handleChange(value) {
                mainData.time = value;
                console.log(value);
            },
			enterScreen(screenName) {
				this.screenName = screenName;
			}

		}
	}

	var v;
	var Ctor;
	getStaffList().then(function (result) {
		console.log("Success!", result);
		mainData.staffList = result;
		Ctor = Vue.extend(uiData);
		v = new Ctor().$mount('#ui-template');
		return result;
	}).catch(function (error) {
		console.log("Failed!", error);
	});

</script>

</html>