<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Autorant - cook screen</title>

	<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
	<meta name="author" content="Vi">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<meta name="viewport" content="width=device-width, initial-scale=0.7">

	<link rel="stylesheet" href="reveal/css/reset.css">
	<link rel="stylesheet" href="reveal/css/reveal.css">
	<link rel="stylesheet" href="reveal/css/theme/solarized.css" id="theme">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="reveal/lib/css/monokai.css">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'reveal/css/print/pdf.css' : 'reveal/css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>

	<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

	<style>
		.mealsGrid {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-gap: 10px;
			text-align: left;
		}

		.textBoxStyle {
			width: 100%;
			height: 30%;
			text-align: center;
			font-size: 18pt;
			border: 2px solid green;
			border-radius: 2px;
		}

		.buttonStyle {
			background-color: #006400;
			border: none;
			color: white;
			padding: 10px 24px;
			text-align: center;
			display: inline-block;
			font-size: 20pt;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 4px;
		}
	</style>
</head>
<script src="js/vue.js"></script>
<script src="js/client.js"></script>
</script>

<body>

	<div class="reveal">

		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">
			<section id="select-cook-screen">
				<h2 style="color:#006400; font-family:Impact">Select Cook</h2>
				<div>
					<table>
						<tr style="font-family:Arial Black; font-size:24pt; color:#006400">
							<th>Personal Id</th>
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
						<tr style="font-family:Arial Black; font-size:22pt; color: black; cursor:pointer"
							v-for="staff in staffs" v-on:click="setup(staff.Id)">
							<td>{{staff.PersonalId}}</td>
							<td>{{staff.FirstName}}</td>
							<td>{{staff.LastName}}</td>
						</tr>
					</table>
				</div>
			</section>
			<!-- meals slide-->
			<section id="meals-screen">
				<h2 style="color:#006400; font-family:Impact">Setup Meals </h2>
				<div class="mealsGrid">
					<div>
						<p style="font-family:Arial Black; font-size:24pt; color:#006400; text-align: left">Current
							Meal:</p>
						<table style="width:100%">
							<!--
							<tr style="font-size:20pt;color:black">
								<th>Meal</th>
								<th>Finished</th>
							</tr>
							-->
							<tr style="font-family:Arial Black; font-size:22pt; color:black">
								<td style="width:80%">
									<div v-if="currentInfo.currentItem!=null">
										{{currentInfo.currentItem.ItemName}}
									</div>
									<div v-else>
										No current item found.
									</div>
								</td>
								<td style="width:20%">
									<button class="buttonStyle" v-on:click="finishMeal">Finish</button>

								</td>
							</tr>
						</table>

					</div>

					<div>
						<p style="font-family:Arial Black; font-size:24pt; color:#006400; text-align: left">In-queue
							Meal:</p>

						<table style="width:100%">
							<tr style="font-family:Arial Black; font-size:22pt; color:black">
								<td style="width:50%">
									<div v-if="currentInfo.nextItem!=null">
										{{currentInfo.nextItem.ItemName}}
									</div>
									<div v-else>
										No next item found.
									</div>
								</td>

								<td style="width:30%">
									<input class="textBoxStyle" type="number" v-model="time"
										placeholder="Predicted time (in mins)">
								</td>
								<td style="width:20%">
									<button class="buttonStyle" v-on:click="startMeal(time)">Start</button>
								</td>
							</tr>
						</table>
						<p style="font-size:18pt; color:black; text-align:right">Time Entered: {{time}} minutes</p>
					</div>



				</div>

			</section>
		</div>
	</div>

	<script src="reveal/js/reveal.js"></script>

	<script>

		// More info https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			controls: true,
			progress: true,
			center: true,
			hash: true,

			transition: 'convex', // none/fade/slide/convex/concave/zoom

			// More info https://github.com/hakimel/reveal.js#dependencies
			dependencies: [
				{ src: 'reveal/plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
				{ src: 'reveal/plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
				{ src: 'reveal/plugin/highlight/highlight.js' },
				{ src: 'reveal/plugin/search/search.js', async: true },
				{ src: 'reveal/plugin/zoom-js/zoom.js', async: true },
				{ src: 'reveal/plugin/notes/notes.js', async: true }
			]
		});

	</script>
	<script>
		//------------------------------------- screen 1
		let mainData = {
			staffs: [],
			currentInfo: {},
			chosenBillDetailIds: [],
			time: {}
		}
		async function getStaffs() {
			let response = await fetch('/api/general/get-staffs');
			let data = await response.json();

			if (data.error) {
				throw new Error();
			}

			return data.result;

		}

		getStaffs().then(function (result) {
			console.log("Success!", result);
			mainData.staffs = result;
			return result;
		}).catch(function (error) {
			console.log("Failed!", error);
		});

		var screen1 = new Vue({
			el: '#select-cook-screen',
			data: mainData,
			methods: {
				setup: async function (id) {
					let result = await setUpStaff(id);

					mainData.currentInfo = await getCurrentStaffInfo();
					alert(result);
					console.log(mainData.currentInfo);
					Reveal.slide(1);

				}
			}


		})


		var screen2 = new Vue({
			el: '#meals-screen',
			data: mainData,

			methods: {
				finishMeal: async function () {

					let result = await finishProcessing();
					mainData.currentInfo = await getCurrentStaffInfo();
					alert(result);
					console.log("Success");
				},

				startMeal: async function (time) {
					let result = await startProcessing(time);
					mainData.currentInfo = await getCurrentStaffInfo();
					alert(result);
					console.log("Success");
				}
			}

		})





	</script>


</body>

</html>