<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="./theme/index.css">
    <style>
        .bg {
            background-image: url("bg4.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="//unpkg.com/element-ui@2.14.1/lib/index.js"></script>
<script src="js/client.js"></script>

<body>
    <template id="ui-template">
        <div>
            <section id="setup-table" v-if="screenName ==='setup-table'">
                <el-table ref="singleTable" :data="tableData" highlight-current-row
                    @current-change="handleCurrentChange" height="75vh" margin style="width: 75vw">
                    <el-table-column prop="Id" label="No." width="75">
                    </el-table-column>
                    <el-table-column prop="Code" label="Code" width="180">
                    </el-table-column>
                    <el-table-column prop="tag" label="Status">
                        <template slot-scope="scope">
                            <el-tag :type="scope.row.tag === 'Available' ? 'success' : 'danger'" disable-transitions
                                effect="dark">
                                {{scope.row.tag}}</el-tag>
                        </template>
                    </el-table-column>
                </el-table>

                <el-button type="primary" @click="setUp()">Set Up Table</el-button>

            </section>
            <section id="welcome" v-if="screenName ==='welcome'">
                <div style=" margin-right: 1em;text-align: right;" class="bg">
                    <p style="color: black; font-size: 20pt;">Welcome to</p>
                    <h1 style="color:#003152; font-size: 28pt;">AUTORANT</h1>
                    <p style="color:black; font-size: 20pt;">Enjoy your meal </br>
                        with minimum human contact </p>
                </div>
            </section>
        </div>
    </template>

</body>

<script>

    let mainData = {
        tables: [],
        currentInfo: {},
        items: [],
        combos: [],
        itemsInCombos: [],
        chosenItemIds: [],
        chosenComboIds: [],
        cardNo: {},
        cvv: {}
    }

    var uiData = {
        template: "#ui-template",
        data() {
            return {
                screenName: 'setup-table',
                tableData: mainData.tables,
                currentRow: null,
                mainData
            }
        },
        methods: {
            setUp: async function () {

                let result = await setUpTable(this.currentRow.Id);

                mainData.currentInfo = await getCurrentTableInfo();
                alert(result);
                console.log(mainData.currentInfo);
                this.screenName = "welcome"
            },
            handleCurrentChange(val) {

                this.currentRow = val;
                console.log(this.currentRow);
            }
        }


    }

    var v;
    var Ctor;
    getTables().then(async function (result) {
        for (var table of result) {
            let res = await getCurrentBillByTableId(table.Id);
            table.tag = res.tag;
        }
        mainData.tables = result;
        Ctor = Vue.extend(uiData);
        v = new Ctor().$mount('#ui-template')
        return result;
    })


</script>

</html>