<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Customer - Autorant</title>
    <link rel="icon" type="image/x-icon" href="./assets/logo/logo_crop.png" />
    <meta name="author" content="Phung Khanh Linh" />
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./theme/index.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/table-style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@439&family=Alef:wght@500&family=Cormorant+Upright:wght@600&family=Righteous&display=swap"
        rel="stylesheet">
    <!-- 
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&display=swap" rel="stylesheet">
</head>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="//unpkg.com/element-ui@2.14.1/lib/index.js"></script>
<script src="js/client.js"></script>

<body>
    <template id="ui-template">
        <div>
            <section id="setup-table" v-if="screenName ==='setup-table'" style="text-align:center">
                <h1 class="title">↼Setup Table⇁</h1>
                <!-- <el-table ref="singleTable" :data="tableData" highlight-current-row
                    @current-change="handleCurrentChange" height="80vh" style="width:50vw; " class="center"
                    margin-left="50px">
                    <el-table-column prop="Id" label="No." width="75">
                    </el-table-column>
                    <el-table-column prop="Code" label="Code" width="180">
                    </el-table-column>
                    <el-table-column prop="tag" label="Status">
                        <template slot-scope="scope">
                            <el-tag :type="scope.row.tag === 'Available' ? 'success' : 'danger'" disable-transitions
                                effect="dark">
                                {{scope.row.tag}}</el-tag>
                        </template>
                    </el-table-column>
                </el-table> -->
                <el-row>
                    <el-col :xs="{span:20, offset:2}" :sm="{span:16, offset:4}" :md="{span:16, offset:4}"
                        :lg="{span:8, offset:8}" :xl="{span:6, offset:9}">
                        <el-table ref="singleTable" :data="tableData" highlight-current-row
                            @current-change="handleCurrentChange" width="100%" style="margin-top:30px" class="header">
                            <el-table-column prop="Id" label="No.">
                                <template slot-scope="scope">
                                    <div class="subcontent">{{scope.row.Id}}</div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="Code" label="Code">
                                <template slot-scope="scope">
                                    <div class="subcontent">{{scope.row.Code}}</div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="tag" label="Status">
                                <template slot-scope="scope">
                                    <el-tag class="subcontent"
                                        :type="scope.row.tag === 'Available' ? 'success' : 'danger'" disable-transitions
                                        effect="dark">{{scope.row.tag}}
                                    </el-tag>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
                <el-button style="margin-top:20px;" class="subcontent" type="primary" round @click="setUp()">Set Up
                    Table
                </el-button>
            </section>
            <section id="welcome" v-if="screenName ==='welcome'" class="bg">
                <div style="text-align: center;">
                    <el-button style=" margin-top:32%;" type="primary" plain circle @click="enterScreen('app')"
                        icon="el-icon-arrow-right">
                    </el-button>
                </div>

            </section>
            <section id="app" v-if="screenName ==='app'" class="bg2">
                <el-container>
                    <el-header>
                        <el-radio-group v-model="isCollapse" style="margin-top:20px">
                            <el-radio-button :label="true"><i class="el-icon-arrow-left"></i></el-radio-button>
                            <el-radio-button :label="false"><i class="el-icon-arrow-right"></i></el-radio-button>
                        </el-radio-group>
                    </el-header>

                    <el-container>
                        <el-aside>
                            <el-menu default-active="1" class="el-menu-horizontal" @open="handleOpen"
                                @close="handleClose" @select="handleSelect" :collapse="isCollapse"
                                background-color="#253C5F" text-color="#fff" active-text-color="#ffd04b"
                                class="content">
                                <el-menu-item index=1 class="subcontent">
                                    <i class="el-icon-dish"></i>
                                    <span slot="title">Menu</span>
                                </el-menu-item>
                                <el-menu-item index=2 class="subcontent">
                                    <i class="el-icon-notebook-2"></i>
                                    <span slot="title">Ordered</span>
                                </el-menu-item>
                                <el-menu-item index=3 class="subcontent">
                                    <i class="el-icon-bank-card"></i>
                                    <span slot="title">Payment</span>
                                </el-menu-item>
                            </el-menu>
                        </el-aside>
                        <el-main>
                            <section id="Menu" v-if="subScreen ===1 " class="bg1" style="margin-right:280px">
                                <h1 class="title" style="margin-top:-2px">↼Menu⇁</h1>
                                <el-row :gutter="20" style="margin-top:10px">
                                    <el-col :xs="24" :sm="24" :md="24" :lg="12">
                                        <el-table ref="multipleTable" :data="mainData.items" height="70vh"
                                            @selection-change="handleItemSelectionChange" margin style="width: 45vw"
                                            class="header">
                                            <el-table-column type="selection" width="55">
                                            </el-table-column>
                                            <el-table-column prop="Id" label="Index" width="100">
                                                <template slot-scope="scope">
                                                    <div class="content">{{scope.row.Id}}</div>
                                                </template>
                                            </el-table-column>
                                            <el-table-column prop="Name" label="Name" width="280">
                                                <template slot-scope="scope">
                                                    <div class="content">{{scope.row.Name}}</div>
                                                </template>
                                            </el-table-column>
                                            <el-table-column prop="Price" label="Price ($)" show-overflow-tooltip>
                                                <template slot-scope="scope">
                                                    <div class="content">{{scope.row.Price}}</div>
                                                </template>
                                            </el-table-column>
                                        </el-table>

                                    </el-col>
                                    <el-col :xs="24" :sm="24" :md="24" :lg="12">
                                        <el-table ref="multipleTable1" :data="mainData.combos" height="70vh"
                                            @selection-change="handleComboSelectionChange" style="width: 40vw"
                                            class="header">
                                            <el-table-column type="expand">
                                                <template slot-scope="props">
                                                    <p style="font-family: 'Dancing Script', cursive; margin-left:25%;"
                                                        v-for="item in props.row.items">
                                                        {{item.Name}}</p>
                                                </template>
                                            </el-table-column>
                                            <el-table-column type="selection" width="55">
                                            </el-table-column>
                                            <el-table-column prop="Id" label="Index" width="120">
                                                <template slot-scope="scope">
                                                    <div class="content">{{scope.row.Id}}</div>
                                                </template>
                                            </el-table-column>
                                            <el-table-column prop="Name" label="Name" width="200">
                                                <template slot-scope="scope">
                                                    <div class="content">{{scope.row.Name}}</div>
                                                </template>
                                            </el-table-column>
                                            <el-table-column prop="Price" label="Price ($)" show-overflow-tooltip>
                                                <template slot-scope="scope">
                                                    <div class="content">{{scope.row.Price}}</div>
                                                </template>
                                            </el-table-column>

                                        </el-table>

                                    </el-col>
                                </el-row>
                                <div style="margin-top: 2px; text-align: center">
                                    <el-button type="success" @click="orderMeals()" round class="subcontent"
                                        icon="el-icon-check">Order
                                    </el-button>
                                    <el-button type="danger" @click="toggleSelection()" round class="subcontent"
                                        icon="el-icon-close">
                                        Clear
                                        selection
                                    </el-button>

                                </div>


                            </section>
                            <section id="Ordered" v-if="subScreen ===2" class="bg1"
                                style="text-align: center; margin-right:300px">
                                <h1 class="title">↼Ordered dishes⇁</h1>
                                <el-container>
                                    <el-header class="header" style="margin-top:10px; font-size: 2.5rem !important;">
                                        <h2>Table: {{mainData.currentInfo.tableCode}}</h2>
                                    </el-header>
                                    <el-main>
                                        <el-row>
                                            <el-col :xs=" 24" :sm="24" :md="24" :lg="12" class="header"
                                                style="font-size: 2rem !important;">
                                                Bill ID: {{mainData.currentInfo.billId}}
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="12" class="header"
                                                style="font-size: 2rem !important;">
                                                Total cost: {{mainData.currentInfo.currentTotalMoney}}
                                            </el-col>

                                        </el-row>
                                        <!-- <div class="bg3"> -->
                                        <el-row v-for="currentItem in mainData.currentInfo.orderedItems">

                                            <el-col :xs="24" :sm="24" :md="24" :lg="12" class="content">
                                                {{currentItem.Name}}
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="12" class="content">
                                                {{states[currentItem.State]}}
                                            </el-col>


                                        </el-row>
                                        <!-- </div> -->
                                    </el-main>

                                </el-container>
                            </section>
                            <section id="Payment" v-if="subScreen===3" class="bg1" style="margin-right:300px">
                                <h1 class="title">↼Bill for table {{mainData.currentInfo.tableCode}}⇁</h1>
                                <h2 class="header" style="margin-top:10px">Total cost:
                                    {{mainData.currentInfo.currentTotalMoney}}</h2>
                                <p class="content" style="margin-left: 25%; margin-top:10px">Card Number: </p>
                                <el-input placeholder="Please input card number" v-model="cardNo" class="textBox">
                                </el-input>
                                <p class="content" style="margin-left: 25%; margin-top:10px">Security Number: </p>
                                <el-input placeholder="Please input cvv" v-model="cvv" show-password size="medium"
                                    class="textBox">
                                </el-input>
                                <div>
                                    <el-button style="margin-left: 70%; margin-top:10px" round class="subcontent"
                                        type="primary" @click="pay()" icon="el-icon-finished">
                                        Pay</el-button>
                                </div>
                            </section>

                        </el-main>
                    </el-container>
                </el-container>




            </section>


        </div>
    </template>

</body>

<script>

    let mainData = {
        tables: [],
        currentInfo: {},
        items: [],
        combos: [],
        itemsInCombos: [],
        chosenItemIds: [],
        chosenComboIds: []
    }

    var uiData = {
        template: "#ui-template",
        data() {
            return {
                screenName: 'setup-table',
                tableData: mainData.tables,
                currentRow: null,
                isCollapse: true,
                subScreen: 1,
                states: [
                    'Waiting',
                    'In progress',
                    'Served'
                ],
                mainData,
                cardNo: '',
                cvv: ''
            }
        },
        methods: {
            setUp: async function () {

                let result = await setUpTable(this.currentRow.Id);
                this.$alert(result, 'Confirm', {
                    confirmButtonText: 'OK'
                }).then(() => {
                    this.enterScreen("welcome");
                })
                mainData.currentInfo = await getCurrentTableInfo();
                console.log(mainData.currentInfo);


            },
            handleCurrentChange(val) {

                this.currentRow = val;
                console.log(this.currentRow);
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            enterScreen(screenName) {
                this.screenName = screenName;
            },
            jump(subScreen) {
                this.subScreen = subScreen;
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
                this.subScreen = parseInt(key);
            },

            orderMeals: async function () {
                let result = await orderItems(mainData.chosenItemIds, mainData.chosenComboIds);
                this.$alert(result, 'Confirm', {
                    confirmButtonText: 'OK'
                }).then(() => {
                    this.jump(2);
                })
                mainData.currentInfo = await getCurrentTableInfo();
                this.toggleSelection();

            },

            toggleSelection(rows) {

                this.$refs.multipleTable.clearSelection();
                this.$refs.multipleTable1.clearSelection();
                // this.mainData.chosenItemIds.splice(0, this.mainData.chosenItemIds.length);
                // this.mainData.chosenComboIds.splice(0, this.mainData.chosenComboIds.length);
                this.mainData.chosenItemIds = [];
                this.mainData.chosenComboIds = [];
            },
            handleItemSelectionChange(val) {

                console.log(val);
                for (var idx = 0; idx < val.length; idx++) {
                    var item = val[idx];
                    if (item && !this.mainData.chosenItemIds.includes(item.Id))
                        this.mainData.chosenItemIds.push(item.Id);
                }
                val = [];

            },
            handleComboSelectionChange(val) {

                console.log(val);
                for (var idx = 0; idx < val.length; idx++) {
                    var combo = val[idx];
                    if (combo && !this.mainData.chosenComboIds.includes(combo.Id))
                        this.mainData.chosenComboIds.push(combo.Id);
                }
                val = [];
            },
            pay: async function () {
                try {
                    await this.$confirm(`You are going to pay ${mainData.currentInfo.currentTotalMoney} dollars. Continue?`, 'Warning', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    })
                    let result = await checkPayment(this.cardNo, this.cvv);

                    await this.$alert(result, 'Confirm', {
                        confirmButtonText: 'OK',
                        type: 'success'
                    })
                    this.cardNo = '';
                    this.cvv = '';
                    this.jump(1);
                    this.enterScreen('welcome');
                }
                catch (exc) {
                    await this.$message({
                        message: 'Payment canceled',
                        type: 'info'
                    })
                }

            }

        }

    }

    var v;
    var Ctor;
    getTables().then(async function (result) {
        for (var table of result) {
            let res = await getCurrentBillByTableId(table.Id);
            table.tag = res.tag;
        }
        mainData.tables = result;
        Ctor = Vue.extend(uiData);
        v = new Ctor().$mount('#ui-template')
        return result;
    })


    getMenuItems().then(function (result) {
        mainData.items = result;
        return result;
    }).catch(function (error) {
        console.log("Failed!", error);
    });

    getCombos().then(async function (result) {

        mainData.combos = result;
        for (combo of mainData.combos) {
            items = await getMenuItemsByComboId(combo.Id);
            combo.items = items;
            //mainData.itemsInCombos.push({ comboId: combo.Id, items });
        }
        return result;
    }).catch(function (error) {
        console.log("Failed!", error);
    });

    // async function getMenuItemsFromCombos() {
    //     for (combo of mainData.combos) {
    //         console.log(combo);
    //         items = await getMenuItemsByComboId(combo.Id);
    //         console.log(items);
    //         combo.items = items;
    //         mainData.itemsInCombos.push({ comboId: combo.Id, items });
    //     }
    // }

    // getMenuItemsFromCombos();
    setInterval(async () => {
        mainData.currentInfo = await getCurrentTableInfo();
    }, 5000);

</script>

</html>